.wrapper {

    flex-direction: column;

    width: 600px;
    height: 500px;
}

.header {
    height: 33%;
}

.wrapForBottom {
    height: 65%;
}

.wrapForBottomLeft {
    width: 78%;
    flex-direction: column;
}

.bottomLeftHeader, .bottomLeftFooter {
    height: 48.4%;
}

.bottomRight {
    width: 20%;
}

.bottomLeftFooterBox {
    width: 31.8%;;
}

.header, .bottomLeftHeader, .bottomLeftFooterBox, .bottomRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .bottomLeftHeader, .bottomLeftFooterBox, .bottomRight {
    background-color: #b6b6b6;
}

.wrapper, .wrapForBottom, .wrapForBottomLeft, .bottomLeftFooter {
    display: flex;
    justify-content: space-between;
}

.header, .wrapForBottom, .bottomLeftHeader, .bottomLeftFooter {
    width: 100%;
}

.wrapForBottomLeft, .bottomRight, .bottomLeftFooterBox {
    height: 100%;
}