body, .leftHeader, .rightHeader, .center, .footerBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    flex-direction: column;
    width: 500px;
    height: 800px;
}

.header {
    height: 49%;
}

.header, .center, .footer {
    width: 100%;
}

.leftHeader, .rightHeader, .center, .footerBoxes {
    background-color: rgba(28, 57, 242, 0.82);
}

.leftHeader, .rightHeader {
    width: 49%;
}

.leftHeader, .rightHeader, .footerBoxes {
    height: 100%;
}

.center {
    height: 24%;
}

.footer {
    height: 24%;
}

.footerBoxes {
    width: 32%;
}

h2 {
    font-size: 20px;
    color: #e9e9e9;
    font-weight: 200;
}

.footer, .header, .wrapper {
    display: flex;
    justify-content: space-between;
}